*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /*COLOR  */
  --dark-cyan: 158 36% 37%;
  --dark-cyan-darken: 158 36% 17%;
  --cream: 30 38% 92%;
  --dark-blue: 212 21% 14%;
  --dark-grayish-blue: 228 12% 48%;
  --white: 0 0% 100%;

  /* FONT SIZE */
  --step--2: clamp(0.6rem, calc(0.61rem + -0.01vw), 0.61rem);
  --step--1: clamp(0.73rem, calc(0.72rem + 0.03vw), 0.75rem);
  --step-0: clamp(0.88rem, calc(0.85rem + 0.09vw), 0.94rem);
  --step-1: clamp(1.05rem, calc(1.01rem + 0.18vw), 1.17rem);
  --step-2: clamp(1.26rem, calc(1.19rem + 0.31vw), 1.47rem);
  --step-3: clamp(1.51rem, calc(1.4rem + 0.48vw), 1.83rem);
  --step-4: clamp(1.81rem, calc(1.65rem + 0.71vw), 2.29rem);
  --step-5: clamp(2.18rem, calc(1.94rem + 1.03vw), 2.86rem);

  /* SPACE */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.44rem, calc(0.42rem + 0.09vw), 0.5rem);
  --space-xs: clamp(0.69rem, calc(0.69rem + 0vw), 0.69rem);
  --space-s: clamp(0.88rem, calc(0.85rem + 0.09vw), 0.94rem);
  --space-m: clamp(1.31rem, calc(1.27rem + 0.19vw), 1.44rem);
  --space-l: clamp(1.75rem, calc(1.71rem + 0.19vw), 1.88rem);
  --space-xl: clamp(2.63rem, calc(2.56rem + 0.28vw), 2.81rem);
  --space-2xl: clamp(3.5rem, calc(3.41rem + 0.38vw), 3.75rem);
  --space-3xl: clamp(5.25rem, calc(5.12rem + 0.56vw), 5.63rem);
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

h1 {
  font-size: var(--step-5);
  color: hsl(var(--dark-blue));
}

p {
  color: hsl(var(--dark-grayish-blue));
  font-size: var(--step-0);
  line-height: 1.5;
}

.product--category {
  color: hsl(var(--dark-grayish-blue));
  font-weight: 500;
  letter-spacing: var(--space-3xs);
  text-transform: uppercase;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(var(--cream));
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 700px;
  background-color: hsl(var(--white));
  margin: var(--space-s);
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.product {
  padding: var(--space-m);
  display: grid;
  gap: var(--space-s);
}

.product--name {
  line-height: 98%;
}

.price {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.price--final {
  color: hsl(var(--dark-cyan));
  font-size: var(--step-4);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.price--original {
  color: hsl(var(--dark-grayish-blue));
  font-size: var(--step-0);
  line-height: 1.5;
  text-decoration: line-through;
}

.cart-btn {
  color: white;
  background-color: hsl(var(--dark-cyan));
  border: none;
  padding: .8em 0;
  border-radius: 5px;
  font-size: var(--step-0);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2xs);
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: hsl(var(--dark-cyan-darken));
}

@media only screen and (min-width: 700px) {
  .card > * {
    flex: 1 1 40%;
  }
  .cart-btn {
    padding: .4em 0;
  }
}
